*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}
body{
    display:flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    /*background-color: seagreen;*/ 
background: linear-gradient(to top,rgba(0,0,0,0.5)70%,rgba(0,0,0,0.5)70%),url('travel\ 1.jpg');

background-size: cover;
background-position: center ;

}
.wrapper{
  right: auto;
    width:400px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.5);
    backdrop-filter: blur(5px);
    /*background: purple;*/
    color:whitesmoke; 
    border-radius: 12px;
    padding: 30px 40px;

}
.wrapper h1{
    text-align:center;
    font-size: 46px;
   
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    /*background-color: burlywood;*/
     margin: 30px 0;}
  .button-box{
    width:220px;
    margin:35px auto;
    position:relative;
    border-radius: transparent;

  }
  .toggle-button{
    padding: 10px 30px;
    border:0;
    outline:none;
    cursor:pointer;
    background: transparent;
    position: relative;
    color:white;

  } 

  #btn{
    top:0;
    bottom:0;
    position: absolute;
    height:100%;
    width:110px;
    border-radius: 30px;
    background-color:#3f0000af;
    border: 2px solid rgba(255,255,255,.3);
    transition:.5s;

  }

.input-box input{
    width:100%;
    height:100%;
    background: transparent;
    /*border:none;*/ 
    outline:none;
    border:2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    color:#fff;
}
.input-box i{
    position: absolute;
    right:15px;
    top:30%;
    transform: translate(-50%);
    font-size: 20px;
}
.input-box ::placeholder{
  color: #fff;
}
.wrapper .remember-forgot{
    display:flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;

}
.remember-forgot label input{
    accent-color: #fff;
    margin-right:3px;

}
.remember-forgot a{
    text-decoration: none;
    color: #fff;}
.remember-forgot a:hover{
    text-decoration:underline;

}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color:#3f0000af;
    font-weight: 600;
  }
 .wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
  
  }
  
  .register-link p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
  }
  .register-link p a:hover{
    text-decoration: underline;
  }
  .wrapper .btn:hover{
    background-color:#3f0000af;
    color:white;
    box-shadow: 1px 1px #F5F5F5;
    transition: ease-in-out;
  }

  
